h1, p.subtitle {
    color: #FF3860;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.top-space {
    margin-top: 2rem;
}

.header-image {
    width: 35%;
    padding: 3em 6em 3em 0;
}

.center-container {
    text-align: center;
}

.center {
    display: inline-block;
}

.bold-text {
    font-weight: bold;
}

.lightgray-text {
    color: lightgray;
}

#scan-button {
    background-image: url(/images/tag-icon-white-sm.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.2em;
}

#scan-button:focus{
    background-image: url(/images/tag-icon-white-sm.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.2em;
}

#scan-button:hover,
#scan-button:active {
    background-image: url(/images/tag-icon-sm.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.2em;
}

form.aui .text.scan-text{
    font-size:14pt;
    max-width: 600px
}

.aui-button.aui-button-primary {
    background-color: #FF3860;
    color: #FFF;
    line-height: 2px;
    height: 40px;
    font-size: 1.4em;
    margin-left: .5rem;
    border: 2px solid #FF3860;
}

.aui-button.aui-button-primary:focus {
    background-color: #FF3860;
    color: #FFF;
    line-height: 2px;
    height: 40px;
    font-size: 1.4em;
    margin-left: .5rem;
    outline: 1px dashed #FF3860;
    border: 2px solid #FF3860;
}

.aui-button.aui-button-primary:hover,
.aui-button.aui-button-primary:active {
    background-color: #FFF;
    color: #FF3860;
    border:2px solid #FF3860;
}

.aui-page-panel {
    border: none;
}

.aui-page-hybrid {
    background-color: #FFF;
}

.aui-page-panel-inner {
    margin-bottom: 4rem;
}

table.aui > tbody > tr {
    line-height: 3rem;
}

.aui-button.aui-button-primary.action-button {
    margin: .6rem 0 0 2rem;
    height: 25px;
    font-size: 1rem;
}

table.aui > tbody > tr > td,
table.aui > thead > tr > th
{
    text-align: center;
}
