<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: atlassianConnectResources}">
    <title>Tag for Checkout</title>
</head>
<body class="aui-page-hybrid">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <img class="header-image center" src="/images/tag-logo.png" alt="Tag for Checkout">
            </div>
        </div>
    </header>
    <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-item">
                <form onclick="return false;" class="aui">
                    <div class="field-group center">
                        <!--<label for="name">Item SKU<span class="aui-icon icon-required">required</span></label>-->
                        <input id="sku" class="text float-left scan-text" type="text"
                             name="name" placeholder="Scan barcode or enter SKU to check item...">
                        <button type="submit" id="scan-button" class="aui-button aui-button-primary float-left"></button>
                    </div>
                </form>
            </section>
        </div>
        <div class="aui-page-panel">
            <p th:text="${result}"></p>
        </div>
    </div>
</body>
